.home {
  background: #000;
  color: #fff;
  padding: 20px;
  perspective: 200;
  transform-style: preserve-3d;
  &-button {
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #32d323;
    text-decoration: none;
  }
  button {
    margin: 0 10px;
    background: #fff;
  }
}